.dropdown-menu > .active > a {
    background-color: white;
    color: rgb(233, 93, 15);
}
.dropdown-menu > .active > a:hover {
    background-color: white;
    color: rgb(233, 93, 15);
}
.dropdown-menu > .active > a:focus {
    background-color: white;
    color: rgb(233, 93, 15);
}

.section_header_grey {
  background-color: #58585A;
  letter-spacing: 1px;
}

.section_header_orange {
  background-color: #E95D0F;
}

.font-orange {
  color: #E95D0F;
}
