// Variables

$brand-primary: #0096db;
$brand-danger: #e74c3c;
$gray-darkest: #222;
$gray: #777;
$gray-lighter: #f7f7f7;
$placeholder-text: #bbbbbb;
$primary: #219AB3;
$dark: #000;
$light: #fff;

// Contemporary fonts

$contemporary-intro-font: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
$contemporary-heading-font: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
$contemporary-subheading-font: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
$contemporary-body-font: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Classic fonts

$classical-intro-font: "Merriweather", Georgia, 'Times New Roman', sans-serif;
$classical-heading-font: "Roboto Slab", Georgia, 'Times New Roman', sans-serif;
$classical-subheading-font: "Roboto Slab", Georgia, 'Times New Roman', sans-serif;
$classical-body-font: "Merriweather", Georgia, 'Times New Roman', sans-serif;

// Retro fonts

$retro-intro-font: "Dynalight", Georgia, 'Times New Roman', sans-serif;
$retro-heading-font: "Monoton", Georgia, 'Times New Roman', sans-serif;
$retro-subheading-font: "Megrim", Georgia, 'Times New Roman', sans-serif;
$retro-body-font: "Unna", Georgia, 'Times New Roman', sans-serif;

//Solid colors

$solid-red: #f63440;
$solid-orange: #ff5200;
$solid-yellow: #ffde00;
$solid-green: #00a888;
$solid-turquoise: #0099a9;
$solid-aqua: #00add8;
$solid-blue: #000f9f;
$solid-purple: #c129b9;
$solid-pink: #e60895;
$solid-gray: #a8a8aa;

//Pastel colors

$pastel-red: #feafbc;
$pastel-orange: #ff8f6c;
$pastel-yellow: #fef28b;
$pastel-green: #a7ed8b;
$pastel-turquoise: #c7e2e2;
$pastel-aqua: #c7e2e2;
$pastel-blue: #70d0ec;
$pastel-purple: #c19bdf;
$pastel-pink: #f4b3dc;
$pastel-gray: #aea89e;

// //Metallic colors

$metallic-red: #c84348;
$metallic-orange: #cd6313;
$metallic-yellow: #ca9501;
$metallic-green: #208b4c;
$metallic-turquoise: #009d89;
$metallic-aqua: #385d9e;
$metallic-blue: #0082b2;
$metallic-purple: #803671;
$metallic-pink: #b17e9c;
$metallic-gray: #766d70;